Repository sunillshastry/itihaas-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

# Running ESLint on staged files
'**/*.js':
  - 'eslint --fix'

'*.js':
  - 'eslint --fix'

'**/*.{js,json,md,yaml,yml}':
  - 'prettier --write'

'*.{js,json,md,yaml,yml}':
  - 'prettier --write'

Remove package dependency: @upstash/workflow; package*.json files updated accordingly
  package-lock.json
  package.json
Due: prettier --write

Update README.md file for project
  README.md
Due: prettier --write

Automatic prisma migrations
  prisma/migrations/20250825054957_init_users/migration.sql
Due: none

Automatic prisma migrations
  prisma/migrations/20250824092415_init_user/migration.sql
  prisma/migrations/20250824093421_init_users/migration.sql
  prisma/migrations/20250824095930_init_user/migration.sql
Due: none

Update schema.prisma to include 'createdAt' and 'updatedAt' fields within User model + format using Prisma extension
  prisma/schema.prisma
Due: none

Develop and create user authentication middleware for limit API for authenticated users with valid API key
  middlewares/authenticated.js
Due: eslint --fix, prettier --write

Create a simple (testing) email template for resgiter email(s)
  templates/Untitled-1.html
  templates/register.js
Due: eslint --fix, prettier --write

Develop a simple email sending service with Resend (needs to be updated)
  services/sendEmail.js
Due: eslint --fix, prettier --write

Add a helpful comment
  services/sendEmail.js
Due: eslint --fix, prettier --write

Create necessary GitHub files with no content for now
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
Due: prettier --write

Create a .dockerignore file and add the ignored files/folders to it
  .dockerignore
Due: none

Create and configure container image options for docker within Dockerfile
  Dockerfile
Due: none

Create and setup backend service on development mode with docker compose through docker-compose.yaml file
  docker-compose.yaml
Due: prettier --write

Update Dockerfile to run 'npm install'
  Dockerfile
Due: none

Update 'start' and 'dev' script commands in package*json
  package.json
Due: prettier --write

Format schema.prisma using Prisma's default formatter over Prettier
  prisma/schema.prisma
Due: none

Refactor all utility source code to include missing documentation and better comments where necessary
  utils/generateApiKey.js
  utils/generateVerificationToken.js
  utils/verifyTokenValidation.js
Due: eslint --fix, prettier --write

Update the services classes to include missing documentation for classes and methods
  services/AppException.js
  services/FailureLogs.js
Due: eslint --fix, prettier --write

Update README.md file: include an organized content list and append the introduction section with an apt introduction to the software
  README.md
Due: prettier --write

Remove the Redis caching mechanism from getDynastyById controller function
  controllers/dynasties/getDynastiesById.controller.js
Due: eslint --fix, prettier --write

Remove the Redis caching mechanism from getDynastyBySlugName controller function
  controllers/dynasties/getDynastyBySlugName.controller.js
Due: eslint --fix, prettier --write

Comment out ioRedisConfig source code temporarily
  cache/ioRedisConfig.js
Due: eslint --fix, prettier --write

Update README.md file: include and link the 'Problem Statement' section
  README.md
Due: prettier --write

Update README.md file: include and link the 'Current State of the Market' section
  README.md
Due: prettier --write

Update README.md file: add new unfilled sections for competitors and its research studies without content to avoid any issues
  README.md
Due: prettier --write

Update README.md section to include a new section: Technical Deliverables Summary while linked to contents tag
  README.md
Due: prettier --write

Install TypeScript package and other types dependencies
  package-lock.json
  package.json
Due: prettier --write

Add tsconfig.json with strict rules and remove jsconfig.json file
  jsconfig.json
  tsconfig.json
Due: prettier --write

Install dev dependencies for morgan and cors package types
  package-lock.json
  package.json
Due: prettier --write

Include the paths option for the tsconfig.json configuration rules
  tsconfig.json
Due: prettier --write

Update the index.js and config/server.js to be TypeScript (.ts) source files
  config/server.ts
  index.ts
Due: none

Migrate the models directory to TypeScript
  models/Dynasties.ts
  models/Rulers.ts
Due: none

Install @types/jsonwebtoken; package*.json files updated accordingly
  package-lock.json
  package.json
Due: prettier --write

Install dev dependencies for the validator package type
  package-lock.json
  package.json
Due: prettier --write

Update the tsconfig.json configuration rules to have the moduleResolution and module options set to NodeNext
  tsconfig.json
Due: prettier --write

Migrate the config/ directory to TypeScript
  config/server.ts
Due: none

Migrate the controllers/ directory to TypeScript
  controllers/base/getBaseRouteLinks.ts
  controllers/dynasties/getAllDynasties.ts
  controllers/dynasties/getDynastiesById.ts
  controllers/dynasties/getDynastiesBySearch.ts
  controllers/dynasties/getDynastyBySlugName.ts
  controllers/dynasties/getDynastyTitles.ts
  controllers/dynasties/getRandomDynasty.controller.js
  controllers/dynasties/getRandomDynasty.ts
  controllers/healthcheck/getHealthCheck.ts
  controllers/info/getApiInfo.ts
  controllers/rulers/getAllRulers.ts
  controllers/rulers/getRandomRuler.ts
  controllers/rulers/getRulerById.ts
  controllers/rulers/getRulerBySlugName.ts
  controllers/rulers/getRulerTitles.ts
  controllers/rulers/getRulersBySearch.ts
  controllers/users/apiRecovery.controller.js
  controllers/users/apiRecovery.ts
  controllers/users/apiRegistration.ts
  controllers/users/apiResend.ts
  controllers/users/apiVerify.ts
  controllers/version/getApiVersion.ts
Due: eslint --fix, prettier --write

Migrate the database/ directory to TypeScript
  database/config.ts
  database/prisma.ts
Due: none

Migrate the middlewares/ directory to TypeScript
  middlewares/authenticated.ts
Due: none

Migrate the routes/ directory to TypeScript
  routes/base.routes.js
  routes/base.ts
  routes/dynasties.routes.js
  routes/dynasties.ts
  routes/healthcheck.routes.js
  routes/healthcheck.ts
  routes/info.routes.js
  routes/info.ts
  routes/rulers.routes.js
  routes/rulers.ts
  routes/users.routes.js
  routes/users.ts
  routes/version.routes.js
  routes/version.ts
Due: eslint --fix, prettier --write
